@charset "UTF-8";
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');


/* Configurações Gerais */

:root {
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-principal: "Nunito", sans-serif;
    --fonte-logo: "Style Script", cursive;
    --fonte-logo-secundaria: "Atma", system-ui;

    --cor-logo-verde:#C2CFB4;
    --cor-logo-marrom:#BEB29F;
    --cor-font-marrom: #6b6458;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, a {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.150);
    font-family: var(--fonte-principal);
    line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6, #valor {
    font-size: 4em;
    font-family: var(--fonte-destaque);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.150);
}

/* Balão flutuante WhatsApp */

.container_balloon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .balloon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: pulsar 2s infinite;
    transition: background-color 0.5s ease;
    background: var(--cor-logo-verde) url(../imagens/botao-flutuante-wp.svg) no-repeat center center fixed;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.200);
  }

  .balloon:hover {
    background-color: var(--cor-logo-marrom);
  }
  
  @keyframes pulsar {
    0% {
      transform: scale(0.9); /* Tamanho original */
    }
    50% {
      transform: scale(1); /* Aumenta 10% no meio da animação */
    }
    100% {
      transform: scale(0.9); /* Volta ao tamanho original */
    }
  }

/* HEADER */

header menu {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    z-index: 1;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
}

#contato {
  padding: 15px 20px;
  background-color: var(--cor-logo-verde);
  border-radius: 50px;
}

#contato:hover {
  transform: translate(0px, 0px) !important;
}

header nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: translate(-3px, -3px);
    transition: transform 0.2s ease-in-out;
}

header .background-header-container {
    background-color: rgba(0, 0, 0, 0.450);
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
}

header .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

header .conteudo-header-container {
    height: 100vh;
    width: 100%;
    padding: 0px 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header .conteudo-header {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-flow: column nowrap;
}

header .imagem-header {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
    
}

header .imagem-header img {
    background: white url(../imagens/background-divs.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 50px;
    border: 10px solid white;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.250);
} 

header #logo-header {
    max-width: 400px;
    margin-left: -70px;
    margin-bottom: 20px;
}

header h1 {
    color: white;
    font-size: 4em;
    max-width: 400px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
}

header p {
    color: white;
    font-size: 1.6em;
    max-width: 850px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.350);
}

header .conteudo-header a, .whats {
    max-width: 400px;
    padding: 15px;
    font-size: 1.6em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor-logo-verde);
    color: var(--cor-font-marrom);
    border-radius: 25px;
    transition: 0.5s ease;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.250);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.250);
}

.whats {
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 20px;
}

.whats:hover {
  background-color: var(--cor-logo-marrom);
  color: white;
  text-decoration: underline;
}

header .conteudo-header a:hover {
    background-color: var(--cor-logo-marrom);
    color: white;
    text-decoration: underline;
    transform: translate(-5px, -5px);  
}

/* MENU */

main, body {
  z-index: -1;
}

section {
    width: 100%;
    height: auto;
}

section h2 {
  text-align: center;
  padding: 50px;
  color: var(--cor-font-marrom);
}

section p {
  text-align: center;
  padding: 50px;
  color: var(--cor-font-marrom);
}

.background-divs {
  background: white no-repeat center center;
  background-size: cover;
}

#section-1, #section-3, #section-5, #section-7 {
  position: relative;
  background: url(../imagens/background-section-1.jpg) no-repeat right center fixed;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

#section-4, #section-6, #section-8, #section-9 {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

#section-1::before, #section-3::before, #section-5::before, #section-7::before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.650);
}

#section-2::before, #section-4::before, #section-6::before, #section-8::before, #section-9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.250);
}

#section-1,/* #section-3, #section-5, #section-7*/ * {
  position: relative;
}

.section-1-container,.section-2-container, .section-3-container, .section-5-container,.section-6-container,.section-8-container, .section-9-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0px 20px;
  gap: 50px;
}

.section-1-container > div,.section-2-container > div, .section-5-container > div,.section-6-container > div, .section-7-container > div,.section-8-container > div, .section-7-container > div {
  width: 450px;
  height: 450px;
  border: 10px solid var(--cor-logo-marrom);
}


#section-1-img1 {
  background: white url(../imagens/imagens-catalogo/bola-de-natal/img1.jpeg) no-repeat bottom center;
  background-size: cover;
}

#section-1-img2 {
  background: white url(../imagens/imagens-catalogo/bola-de-natal/img2.jpeg) no-repeat bottom center;
  background-size: cover;
}

.section-1-conteudo,.section-2-conteudo, .section-3-conteudo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 50px;
}

.section-1-conteudo > p {
  width: 450px;
}

.section-1-conteudo-filho {
  width: 450px;
  padding-left: 60px;
}

.section-1-conteudo-filho p,.section-2-conteudo-filho p, .section-3-conteudo-filho p {
  padding: 0;
}

.section-1-conteudo-neto,.section-2-conteudo-neto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#section-1-conteudo-neto,#section-2-conteudo-neto, #section-3-conteudo-neto {
  margin-top: -20px;
}

#section-2 {
  position: relative;
  background: url(../imagens/background-section-2.jpg) no-repeat right center fixed;
  background-size: cover;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.400);
}

#section-2 h2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-2 #valor {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

.section-2-conteudo > p {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

.section-2-conteudo-filho {
  width: 450px;
}

#section-2-img1 {
  background: white url(../imagens/imagens-catalogo/donuts/img1.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-2-img2 {
  background: white url(../imagens/imagens-catalogo/donuts/img2.jpg) no-repeat bottom center;
  background-size: cover;
}

.section-2-container-whats {
  padding-top: 40px;
  padding-bottom: 80px;
}

#section-2 .whats {
  margin: auto;
}

.section-3-container > div {
  width: 350px;
  height: 500px;
  border: 10px solid var(--cor-logo-marrom);
}

.section-3-conteudo > p {
  width: 600px;
}

.section-3-conteudo-filho {
  width: 450px;
}

#section-3-img1 {
  background: white url(../imagens/imagens-catalogo/topo-de-bolo/img1.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-3-img2 {
  background: white url(../imagens/imagens-catalogo/topo-de-bolo/img2.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-3-img3 {
  background: white url(../imagens/imagens-catalogo/topo-de-bolo/img3.jpg) no-repeat bottom center;
  background-size: cover;
}

.section-3-conteudo-neto {
  justify-content: center;
}

#section-4 {
  background: white url(../imagens/background-section-4.jpg) no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.400);
}

#section-4 p {
  padding: 0;
  max-width: 450px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-4 h2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-4 #valor {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

.section-4-container > #section-4-img {
  width: 450px;
  height: 450px;
  border: 10px solid var(--cor-logo-marrom);
  margin-left: 150px;
  margin-bottom: 150px;
}

.section-4-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  gap: 100px;
}

.section-4-conteudo {
  margin-top: -120px;
  padding: 0px 50px;
}

#section-4-img {
  background: white url(../imagens/imagens-catalogo/tubo-lata/img.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-5-img1 p, #section-5-img2 p, #section-5-img3 p, #section-5-img4 p, #section-7-img1 p, #section-7-img2 p, #section-7-img3 p, #section-7-img4 p, #section-7-img5 p, #section-9-img1 p, #section-9-img2 p, #section-9-img3 p, #section-9-img4 p, #section-9-img5 p, #section-9-img6 p, #section-9-img7 p {
  width: 350px;
  position: absolute;
  top: 350px;
  margin-left: -10px;
  padding: 0;
}

#section-5-img1 #valor, #section-5-img2 #valor, #section-5-img3 #valor, #section-5-img4 #valor, #section-7-img1 #valor, #section-7-img2 #valor, #section-7-img3 #valor, #section-7-img4 #valor, #section-7-img5 #valor, #section-9-img1 #valor, #section-9-img2 #valor, #section-9-img3 #valor, #section-9-img4 #valor, #section-9-img5 #valor, #section-9-img6 #valor, #section-9-img7 #valor {
  position: absolute;
  top: 380px;
  padding: 0;
}

#section-5-img1 {
  background: white url(../imagens/imagens-catalogo/bis/img1.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-5-img2 {
  background: white url(../imagens/imagens-catalogo/bis/img2.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-5-img3 {
  background: white url(../imagens/imagens-catalogo/bis/img3.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-5-img4 {
  background: white url(../imagens/imagens-catalogo/bis/img4.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

.section-5-container > div,.section-6-container > div, .section-7-container > div, .section-8-container > div, .section-9-container > div {
  width: 350px;
  height: 350px;
  border: 10px solid var(--cor-logo-marrom);
}

#section-6 {
  background: white url(../imagens/background-section-5.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.400);
}

#section-6-img1 > div, #section-6-img3 p, #section-6-img4 p {
  width: 350px;
  position: absolute;
  top: 350px;
  margin-left: -10px;
  padding: 0;
}

#section-6-img1 > div, #section-6-img3 #valor {
  position: absolute;
  top: 380px;
  padding: 0;
}

#section-6-img4 #valor {
  position: absolute;
  top: 415px;
  padding: 0;
}

#section-6-img1 > div p {
  display: inline-block;
  text-align: center;
  line-height: 55px;
  margin: auto;
  padding-left: 5px;
  font-size: 1.4em;
}

#section-6-img1 > div #valor {
  font-size: 3em;
}

.section-6-conteiner-filho {
  margin-top: -30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
}

.section-6-conteiner-neto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#section-6-img1 {
  background: white url(../imagens/imagens-catalogo/caixa/img1.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-6-img3 {
  background: white url(../imagens/imagens-catalogo/caixa/img3.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-6-img4 {
  background: white url(../imagens/imagens-catalogo/caixa/img4.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-6 p {
  padding: 0;
  max-width: 450px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-6 h2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-6 #valor {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-6 .whats {
  margin-top: 100px;
}

#section-7-img1 {
  background: white url(../imagens/imagens-catalogo/Chocolates/img1.jpg) no-repeat center center;
  background-size: cover;
}

#section-7-img2 {
  background: white url(../imagens/imagens-catalogo/Chocolates/img2.jpg) no-repeat center center;
  background-size: cover;
}

#section-7-img3 {
  background: white url(../imagens/imagens-catalogo/Chocolates/img3.jpg) no-repeat center center;
  background-size: cover;
}

#section-7-img4 {
  background: white url(../imagens/imagens-catalogo/Chocolates/img4.jpg) no-repeat center center;
  background-size: cover;
}

#section-7-img5 {
  background: white url(../imagens/imagens-catalogo/Chocolates/img5.jpg) no-repeat center center;
  background-size: cover;
}

#section-7 p {
  font-size: 1.4em;
}

#section-7 #valor {
  font-size: 4em;
}

.section-7-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0px 65px;
  gap: 150px;
  margin-bottom: 200px;
}

/* .section-8-container > .background-divs {
  margin-bottom: 220px !important;
} */

#section-8 {
  background: white url(../imagens/background-section-2.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.400);
}

#section-8-img1 > div, #section-8-img2 p, #section-8-img3 p {
  width: 350px;
  position: absolute;
  top: 350px;
  margin-left: -10px;
  padding: 0;
}

#section-8-img2 p, #section-8-img3 p {
  font-size: 1.4em;
}

#section-8-img1 > div {
  position: absolute;
  top: 380px;
  padding: 0;
}

#section-8-img2 #valor, #section-8-img3 #valor {
  position: absolute;
  top: 415px;
  padding: 0;
  font-size: 4em;
}

#section-8-img1 > div p {
  display: block;
  text-align: center;
  line-height: 30px;
  margin: auto;
  padding-left: 5px;
}

#section-8-img1 > div #valor {
  margin-top: 20px;
}

.section-8-conteiner-filho {
  margin-top: -30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section-8-conteiner-neto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#section-8-img1 {
  background: white url(../imagens/imagens-catalogo/kit/img3.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-8-img2 {
  background: white url(../imagens/imagens-catalogo/kit/img2.jpg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-8-img3 {
  background: white url(../imagens/imagens-catalogo/kit/img1.jpeg) no-repeat bottom center;
  background-size: cover;
  margin-bottom: 150px;
}

#section-8 p {
  padding: 0;
  max-width: 450px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-8 h2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-8 #valor {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-8 .whats {
  margin-top: 80px;
}

#section-9 {
  background: white url(../imagens/background-section.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.400);
}

#section-9-img1 {
  background: white url(../imagens/imagens-catalogo/mimos/img1.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-9-img2 {
  background: white url(../imagens/imagens-catalogo/mimos/img2.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-9-img3 {
  background: white url(../imagens/imagens-catalogo/mimos/img3.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-9-img4 {
  background: white url(../imagens/imagens-catalogo/mimos/img4.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-9-img5 {
  background: white url(../imagens/imagens-catalogo/mimos/img5.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-9-img6 {
  background: white url(../imagens/imagens-catalogo/mimos/img6.jpg) no-repeat bottom center;
  background-size: cover;
}

#section-9-img7 {
  background: white url(../imagens/imagens-catalogo/mimos/img7.jpg) no-repeat bottom center;
  background-size: cover;
}

.section-9-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0px 65px;
  gap: 150px;
  margin-bottom: 200px;
}

#section-9 p {
  padding: 0;
  max-width: 450px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-9 h2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
}

#section-9 #valor {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
  font-size: 4em;
}

/* FOOTER */

footer {
    height: auto;
    background: var(--cor-logo-verde) url(../imagens/background-footer.png) no-repeat left center;
    background-size: contain;
    padding: 20px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    z-index: -1;
}

footer div {
    margin: 0px 80px;
  }

  footer h3 {
    font-family: var(--fonte-logo);
    font-weight: 400;
    text-align: center;
    color: var(--cor-font-marrom);
  }

  footer #subtitulo {
    font-family: var(--fonte-logo-secundaria);
    text-align: center;
    color: var(--cor-font-marrom);
    margin-top: -15px;
  }

  footer p {
    text-align: center;
    color: var(--cor-font-marrom);
  }

  footer a {
    text-decoration: none;
    text-align: center;
    color: var(--cor-font-marrom);
    cursor: pointer;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer i {
    font-size: 24px;
    padding: 5px 0px;
    vertical-align: middle;
  }

  footer .fa-brands {
    font-size: 28px;
  }